@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import "./variables";

.card__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px $clr-gray300;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  position: relative;

  &__image {
    height: 10rem;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding: 1rem;
  }

  &__description {
    padding: 0 1rem;
  }

  &__description, &__title {
    text-align: left;
  }

  &__icon-trash {
    position: absolute;
    margin: 1.2rem;
    right: 5px;
    color: $clr-primary;
  }

  &__icon-edit {
    position: absolute;
    margin: 1.1rem;
    left: 5px;
    color: $clr-primary-dark;
    font-size: 1.2rem;
  }

  &__icon-edit:hover, &__icon-trash:hover {
    color: $clr-gray600;
  }

  &__btn {
    padding: .5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid $clr-primary;
    background: transparent;
    color: $clr-primary;
    border-radius: $radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__btn:hover {
    background: $clr-primary;
    color: white;
  }
}






