@import "./variables";
.appointmentList__container{
  margin-top: 2rem;
}

.list{
  &__content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }

  &__btn {
    padding: .5rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid $clr-primary;
    background: transparent;
    color: $clr-primary;
    border-radius: $radius;
    transition: background 200ms ease-in, color 200ms ease-in;
  }

  &:hover {
    transform: scale(1.02);
  }

  &__btn:hover {
    background: $clr-primary;
    color: white;
  }
}

@media screen and (max-width:440px) {
  .list{
    &__content {
      
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 4rem;
        grid-row-gap: 1rem;
    }
  }
}