@import "./variables";

.searchBar {
  &__input {
      width: 97%;
      margin: 2%;
      padding: 10px 0;
      border: none;
      border-bottom: 2px $clr-gray500 solid;
      outline: none;

      &:focus {
        border-bottom: 1px $clr-gray200 solid;
      }
  }
}